{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}
    <h1>Change password</h1>

    {{ form_start(form) }}
    {{ form_errors(form.plainPassword) }}
    {{ form_errors(form.plainPassword.children.first) }}
    {{ form_errors(form.plainPassword.children.second) }}
    <table>
        <tr><td>{{ form_label(form.plainPassword.children.first) }}</td>
            <td>{{ form_widget(form.plainPassword.children.first) }}</td></tr>
        <tr><td>{{ form_label(form.plainPassword.children.second) }}</td>
            <td>{{ form_widget(form.plainPassword.children.second) }}</td></tr>
        <tr><td colspan="2">{{ form_widget(form.changePassword) }}</td></tr>
    </table>

    {{ form_end(form) }}
{% endblock %}
