{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="text-center">
        {% if isLoggedIn %}
            <h1 class="h3 mb-3 font-weight-normal">You are logged in as {{ name }},
                <a href="{{ path('app_logout') }}">click here to logout</a></h1>
            <h3>Change your password <a href="{{ path('changePassword') }}">here</a>.</h3>

            {% if 'ROLE_ADMIN' in roles  %}
                Manage <a href="{{ path('mailUser') }}">Mail Users</a>.
            {% endif %}
        {% else %}
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

            <form method="post" class="text-center">
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <table id="loginTable">
                    <tr><td><label for="email">Email:</label></td>
                        <td><input type="email" id="email" name="email" value="{{ last_username }}"/></td></tr>
                    <tr><td><label for="password">Password:</label></td>
                        <td><input type="password" id="password" name="password"/></td></tr>
                    <tr><td colspan="2"><button type="submit" class="btn btn-primary">Sign in</button></td></tr>
                </table>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </form>
            Not registered yet? Go to <a href="{{ path('app_register') }}">this</a> link.
        {% endif %}
    </div>
{% endblock %}
