{{ form_start(form) }}
    {{ form_errors(form.name) }}
    {{ form_errors(form.email) }}
    {{ form_errors(form.plainPassword) }}
    {{ form_errors(form.plainPassword.children.first) }}
    {{ form_errors(form.plainPassword.children.second) }}
<table id="registerTable">
    <tr><td>{{ form_label(form.name) }}</td><td>{{ form_widget(form.name) }}</td></tr>
    <tr><td>{{ form_label(form.email) }}</td><td>{{ form_widget(form.email) }}</td></tr>
    <tr><td>{{ form_label(form.plainPassword.children.first) }}</td>
        <td>{{ form_widget(form.plainPassword.children.first) }}</td></tr>
    <tr><td>{{ form_label(form.plainPassword.children.second) }}</td>
        <td>{{ form_widget(form.plainPassword.children.second) }}</td></tr>
    <tr><td colspan="2">{{ form_widget(form.register, { 'label': submitLabel }) }}</td></tr>
</table>
{{ form_end(form) }}
