{{ form_start(form) }}
{{ form_errors(form.name) }}
{{ form_errors(form.secondName) }}
{{ form_errors(form.description) }}
<table class="createUpdateTable">
    <tr><td>{{ form_label(form.name) }}</td><td>{{ form_widget(form.name) }}</td></tr>
    <tr><td>{{ form_label(form.secondName) }}</td><td>{{ form_widget(form.secondName) }}</td></tr>
    <tr><td>{{ form_label(form.description) }}</td><td>{{ form_widget(form.description) }}</td></tr>
    <tr><td colspan="2">{{ form_widget(form.submit, { 'label': submitLabel }) }}</td></tr>
</table>
{{ form_end(form) }}
