{% extends '@WineBundle/base.html.twig' %}

{% block title %}Taste Profile{% endblock %}

{% block body %}
    <h1>Taste Profiles</h1>
    <a href="{{ path('wineTasteProfileCreate') }}">Create a taste profile</a>
    <table class="table table-striped">
        {% for tasteProfile in tasteProfiles %}
            <tr>
                <td><a href="{{ path('wineTasteProfileSingle',
                        {'id': tasteProfile.id}) }}">{{ tasteProfile.name }}</a></td>
                <td>{{ tasteProfile.secondName }}</td>
                <td><a href="{{ path('wineTasteProfileEdit', {'id': tasteProfile.id }) }}">edit</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
