{% extends '@MovieBundle/base.html.twig' %}

{% block title %}Movie{% endblock %}

{% block body %}
    <p>The IMDB ratings give an average rating for a movie,
        but here you can get the average rating of only the reviews from IMDB.</p>
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_widget(form.title) }}
    </div>
    <br>
    <div class="form-group">
        {{ form_widget(form.year) }}
    </div>
    <div class="form-group">
        <div>
            {{ form_widget(form.submit) }}
        </div>
    </div>
    {{ form_end(form) }}
    <div id="get-rating"></div>
{% endblock %}
