{{ form_start(form) }}
{{ form_errors(form.year) }}
{{ form_errors(form.rating) }}
{{ form_errors(form.price) }}
{{ form_errors(form.type) }}
{{ form_errors(form.label) }}
{{ form_errors(form.name) }}
{{ form_errors(form.tasteProfile) }}
{{ form_errors(form.country) }}
{{ form_errors(form.region) }}
{{ form_errors(form.subregion) }}
{{ form_errors(form.description) }}
{{ form_errors(form.review) }}
{{ form_errors(form.grapes) }}
<ul class="d-none" id="grapeError">
    <li>Specify a grape.</li>
</ul>
{{ form_errors(form.year) }}
{{ form_errors(form.rating) }}
{{ form_errors(form.price) }}
<table class="createUpdateTable">
    <tr><td>{{ form_label(form.label) }}</td><td>{{ form_widget(form.label) }}</td></tr>
    <tr><td>{{ form_label(form.name) }}</td><td>{{ form_widget(form.name) }}</td></tr>
    <tr><td>{{ form_label(form.type) }}</td><td>{{ form_widget(form.type) }}</td></tr>
    <tr><td>{{ form_label(form.tasteProfile) }}</td><td>{{ form_widget(form.tasteProfile,
                { 'id': 'taste-profile'}) }}</td></tr>
    <tr>
        <td>
            {{ include('@Wine/wine/dropdownGrapes.html.twig', {grapes: form.grapes, redOrWhite: 'Red'}) }}
        </td>
        <td>
            {{ include('@Wine/wine/dropdownGrapes.html.twig', {grapes: form.grapes, redOrWhite: 'White'}) }}
        </td>
    </tr>
    <tr><td>{{ form_label(form.year) }}</td><td>{{ form_widget(form.year) }}</td></tr>
    <tr><td>{{ form_label(form.price) }}</td><td>{{ form_widget(form.price) }}</td></tr>
    <tr><td>{{ form_label(form.country) }}</td><td>{{ form_widget(form.country) }}</td></tr>
    <tr><td>{{ form_label(form.region) }}</td><td>{{ form_widget(form.region) }}</td></tr>
    <tr><td>{{ form_label(form.subregion) }}</td><td>{{ form_widget(form.subregion) }}</td></tr>
    <tr><td>{{ form_label(form.description) }}</td><td>{{ form_widget(form.description) }}</td></tr>
    <tr><td>{{ form_label(form.rating) }}</td><td>{{ form_widget(form.rating) }}</td></tr>
    <tr><td>{{ form_label(form.review) }}</td><td>{{ form_widget(form.review) }}</td></tr>
    <tr><td colspan="2">{{ form_widget(form.submit, { 'label': submitLabel }) }}</td></tr>
</table>
{{ form_widget(form._token) }}
{{ form_end(form, {render_rest: false}) }}
