{{ form_start(form) }}
    <table>
        <tr><td>{{ form_label(form.image) }}</td><td>{{ form_widget(form.image) }}</td></tr>
        <tr><td>{{ form_label(form.name) }}</td><td>{{ form_widget(form.name) }}</td></tr>
        <tr><td>{{ form_label(form.category) }}</td><td>{{ form_widget(form.category) }}</td></tr>
        <tr>
            <td>
                <div class="dropdown" id="dropdownGrapesDiv">
                <button class="btn dropdown-toggle" type="button" id="dropdownGrapes" data-bs-toggle="dropdown" aria-expanded="false">
                    Red grapes
                </button>
                <table class="dropdown-menu" aria-labelledby="dropdownGrapes">
                    {% for item in form.redGrapes %}
                        <tr><td>{{ form_widget(item) }}</td><td>{{ form_label(item) }}</td></tr>
                    {% endfor %}
                </table>
            </div>
            </td>
            <td>
                <div class="dropdown" id="dropdownGrapesDiv">
                    <button class="btn dropdown-toggle" type="button" id="dropdownGrapes" data-bs-toggle="dropdown" aria-expanded="false">
                        White grapes
                    </button>
                    <table class="dropdown-menu" aria-labelledby="dropdownGrapes">
                        {% for item in form.whiteGrapes %}
                            <tr><td>{{ form_widget(item) }}</td><td>{{ form_label(item) }}</td></tr>
                        {% endfor %}
                    </table>
                </div>
            </td>
        </tr>
        <tr><td>{{ form_label(form.year) }}</td><td>{{ form_widget(form.year) }}</td></tr>
        <tr><td>{{ form_label(form.rating) }}</td><td>{{ form_widget(form.rating) }}</td></tr>
        <tr><td>{{ form_label(form.price) }}</td><td>{{ form_widget(form.price) }}</td></tr>
        <tr><td>{{ form_label(form.description) }}</td><td>{{ form_widget(form.description) }}</td></tr>
    </table>
{{ form_end(form, {'render_rest': false}) }}
