{% extends '@WineBundle/base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Wines</h1>
    <a href="{{ path('wineCreate') }}">Create a wine</a>
    {{ form_start(form, {'attr': {'id': 'filterSortForm'}}) }}
    {{ form_errors(form) }}

    {{ form_widget(form.category) }}

    <div class="dropdown" id="dropdownGrapesDiv">
        <button class="btn dropdown-toggle" type="button" id="dropdownGrapes" data-bs-toggle="dropdown" aria-expanded="false">
            Red grapes
        </button>
        <table class="dropdown-menu" aria-labelledby="dropdownGrapes">
            {% for item in form.redGrapes %}
                <tr><td>{{ form_widget(item) }}</td><td>{{ form_label(item) }}</td></tr>
            {% endfor %}
        </table>
    </div>
    <div class="dropdown" id="dropdownGrapesDiv">
        <button class="btn dropdown-toggle" type="button" id="dropdownGrapes" data-bs-toggle="dropdown" aria-expanded="false">
            White grapes
        </button>
        <table class="dropdown-menu" aria-labelledby="dropdownGrapes">
            {% for item in form.whiteGrapes %}
                <tr><td>{{ form_widget(item) }}</td><td>{{ form_label(item) }}</td></tr>
            {% endfor %}
        </table>
    </div>
    {{ form_widget(form.year) }}
    {{ form_widget(form.filter) }}
    {{ form_widget(form.show) }}
    {{ form_end(form) }}
    <table class="table table-striped">
        {% for wine in paginator.results %}
            <tr>
                <td class="d-none d-lg-table-cell"><img src="{{ asset(wine.getLabel()) }}" alt="label" class="wineLabel"></td>
                <td>{{ wine.getName() }}</td>
                <td class="d-none d-md-table-cell">{{ wine.getGrapeNamesAsString() }}</td>
                <td class="d-none d-sm-table-cell">{{ wine.getCategory() ? wine.getCategory().getName() : '' }}</td>
                <td>{{ wine.getYear() }}</td>
                <td><span class="nowrap">{{ wine.getRating()|number_format(1) }} <i class="fas fa-star"></i></span></td>
                <td class="d-none d-sm-table-cell"><span class="nowrap">€ {{ wine.getPrice()|number_format(2) }}</span></td>
                <td class="d-none d-xl-table-cell">{{ wine.getDescription() }}</td>
                <td><a href="{{ path('wineEdit', {'id': wine.getId()}) }}">edit</a></td>
            </tr>
        {% endfor %}
    </table>
    {{ include('pagination/view.html.twig') }}
{% endblock %}
