{% extends '@WineBundle/base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Wines</h1>
    <a href="{{ path('wineCreate') }}">Create a wine</a>
    {{ form_start(form, {'attr': {'id': 'filter-sort-form'}}) }}
    {{ form_errors(form) }}

    {{ form_widget(form.tasteProfile, { 'id': 'taste-profile'}) }}

    {{ include('@Wine/wine/dropdownGrapes.html.twig', {grapes: form.grapes, redOrWhite: 'Red'}) }}
    {{ include('@Wine/wine/dropdownGrapes.html.twig', {grapes: form.grapes, redOrWhite: 'White'}) }}
    {{ form_widget(form.year, {'attr': {'placeholder': 'year'}}) }}
    {{ form_widget(form.country) }}
    {{ form_widget(form.region) }}
    {{ form_widget(form.sort) }}
    {{ form_widget(form.show) }}
    {{ form_end(form, {render_rest: false}) }}
    <table class="table table-striped">
        {% for wine in paginator.results %}
            <tr>
                <td class="d-none d-lg-table-cell"><img src="{{ asset(wine.getLabelPath(appEnv)) }}" alt="label" class="wine-label"></td>
                <td><a href="{{ path('wineSingle', {'id': wine.id}) }}">{{ wine.name }}</a></td>
                <td class="d-none d-md-table-cell">{{ wine.grapeNamesAsString }}</td>
                <td class="d-none d-sm-table-cell">{{ wine.tasteProfile ? wine.tasteProfile.name : '' }}</td>
                <td>{{ wine.year }}</td>
                <td><span class="nowrap">{{ wine.rating|number_format(1) }} <i class="fas fa-star"></i></span></td>
                <td class="d-none d-sm-table-cell"><span class="nowrap">€ {{ wine.price|number_format(2) }}</span></td>
                <td class="d-none d-xl-table-cell">{{ wine.region.name }}</td>
                <td><a href="{{ path('wineEdit', {'id': wine.id}) }}">edit</a></td>
            </tr>
        {% endfor %}
    </table>
    {{ include('pagination/view.html.twig') }}
{% endblock %}
